/*Page Layout*/
*{
/*  height: 100vh;*/
  width: 100vw;
}
/*Top Bar*/
#top-bar{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  background: radial-gradient(red,blue);
  height: 20%;
  padding: 5% 0 2%;
}